*.log
*.synctex(busy)
*.synctex.gz
*.aux
*.nav
*.bcf
*.idx
*.lof
*.lot
*.run.xml
*.toc
*.pdf
*.synctex
*.snm
*.upa
*.upb
*.bbl
*.blg
*.out
*-blx.bib
!papers/*.pdf
!logos/*.pdf
*.fls
*.fdb_latexmk
*.acn
*.ist
*.slo
**/*.bak